body{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin-inline-start: auto;
}
img{
    width: 150px;
    height: 150px;
}
div{
    padding: 5px;
    margin: 10px;
    color:aquamarine;
}
h2{
    color: indigo;
    font-size: bold;
}